.body {
        min-height: 100vh;
        background: hsla(140, 40%, 35%, 1);


        background: linear-gradient(270deg,
                        hsla(140, 30%, 45%, 1) 0%,

                        hsla(140, 60%, 85%, 1) 100%);


        background: -moz-linear-gradient(270deg,
                        hsla(140, 30%, 45%, 1) 0%,
                        hsla(140, 60%, 85%, 1) 100%);

        background: -webkit-linear-gradient(270deg,
                        hsla(140, 30%, 45%, 1) 0%,
                        hsla(140, 60%, 85%, 1) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5F9F7F", endColorstr="#D8F5D5", GradientType=1);

        display: flex;
        justify-content: center;
        margin: 0px;
}

.form__mail {
        position: absolute;
        left: 0;
        bottom: 0;
        color: black;
        padding: 10px;
        font-family: "Lora";
}